{% extends 'app/base.html' %}

{% block contenido %}
<h1>Proyectos</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Editar Proyecto</h4>
            </div>
            <div class="card-body">
                <form>

                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nombre del proyecto</label>
                                <input type="text" class="form-control" placeholder="proyecto" value="">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Responsable</label>
                                <input type="text" class="form-control" placeholder="Responsable" value="">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-fill pull-right">Crear Proyecto</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Listar proyectos desde la db -->
<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Lista de Proyectos</h4>
                <p class="card-category">Proyectos</p>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Nombre del Proyecto</th>
                        <th>Responsable</th>
                        <th>Fecha de Creaciòn</th>
                    </thead>
            
                    <tbody>
                        {% for proyecto in proyectos %}
                        <tr>
                        <td>{{proyecto.id}}</td>
                        <td>{{proyecto.nombre}}</td>
                        <td>{{proyecto.responsable}}</td>
                        <td>{{proyecto.fecha_creacion}}</td>
                    </tr>
                        {% endfor %}
                    </tbody>
            
                </table>
            </div>
        </div>
    </div>
   
</div>

{% endblock %}