{% extends 'app/base.html' %}
{%load staticfiles%}
{% block contenido %}
<h1>Proyectos</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Informacion del Proyecto</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Nombre del proyecto</label>
                            <input id='nombre' name='nombre' type="text" class="form-control" disabled="" value="{{proyecto.nombre}}">
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Responsable</label>
                            <input id='responsable' name='responsable' type="text" disabled=""class="form-control" value="{{proyecto.responsable}}">
                        </div>
                    </div>
                </div>




                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>

                            <th>Nombre</th>
                            <th>Responsable</th>
                        </thead>

                        <tbody>
                            {% for actividad in proyecto.actividades.all %}
                            <tr>
                                <td>{{actividad.nombre}}</td>
                                <td>{{actividad.responsable}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>



            </div>
        </div>
    </div>

</div>

{% endblock %}