{% extends 'app/base.html' %}

{% block contenido %}
<h1>Proyectos</h1>

<div class="row">

    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Lista de Proyectos</h4>
                <p class="card-category">Proyectos</p>
                <a class="btn btn-primary btn-fill pull-right" href="{% url 'form_proyectos_crear' %}"> Crear
                    Proyecto</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>

                        <th>Nombre del Proyecto</th>
                        <th>Responsable</th>
                        <th>Fecha de Creaciòn</th>
                        <th>Ver Proyecto</th>
                    </thead>

                    <tbody>
                        {% for proyecto in proyectos %}
                        <tr>

                            <td>{{proyecto.nombre}}</td>
                            <td>{{proyecto.responsable}}</td>
                            <td>{{proyecto.fecha_creacion}}</td>
                            <td><a href="{% url 'proyecto' proyecto.id %}" class="btn btn-primary"><i class="nc-icon nc-attach-87"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<!-- <div class="table-responsive table-full-width">

    <table class="table table-hover table-striped">
        <thead>
            <th>ID</th>
			<th>Nombre del Proyecto</th>
			<th>Responsable</th>
            <th>Fecha de Creaciòn</th>
        </thead>

        <tbody>
            {% for proyecto in proyectos %}
            <tr>
            <td>{{proyecto.id}}</td>
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.responsable}}</td>
            <td>{{proyecto.fecha_creacion}}</td>
        </tr>
            {% endfor %}
        </tbody>


    </table>
</div> -->


{% endblock %}